<?xml version="1.0"?>
<config>
    <modules>
        <Wee_DeveloperToolbar>
            <version>2.5.0</version>
        </Wee_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Block</class>
            </wee_developertoolbar>
            <wee_developertoolbar_item>
                <class>Wee_DeveloperToolbar_Block_Toolbar_Item</class>
            </wee_developertoolbar_item>
        </blocks>
        <helpers>
            <wee_developertoolbar>
                <rewrite>
                    <data>Wee_DeveloperToolbar_Helper_Data</data>
                </rewrite>
            </wee_developertoolbar>
            <fpc>
                <rewrite>
                    <block>Wee_DeveloperToolbar_Helper_Lesti_Block</block>
                </rewrite>
            </fpc>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <resource>Wee_DeveloperToolbar_Model_Resource</resource>
                </rewrite>
            </core>
        </models>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <wee_developertoolbar_observer_1>
                        <class>Wee_DeveloperToolbar_Model_Observer</class>
                        <method>removeCoreProfilerBlock</method>
                    </wee_developertoolbar_observer_1>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <wee_developertoolbar>
                <use>admin</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </wee_developertoolbar>
        </routers>
    </admin>    
    <frontend>
        <routers>
            <wee_developertoolbar>
                <use>standard</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </wee_developertoolbar>
        </routers>
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </frontend>
   <default>
        <developertoolbar>
            <items>
              <version>
                <sort_order>10</sort_order>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelVersion</label>
              </version>
              <info>
                <sort_order>20</sort_order>
                <icon>images/wee_developertoolbar/info.png</icon>
                <tab_container>
                    <request><label>Request</label></request>
                    <general><label>General</label></general>
                    <handles><label>Handles</label></handles>
                    <events><label>Events/Observer</label></events>
                    <blocks><label>Blocks</label></blocks>
                    <config><label>Config</label></config>
                    <php_info><label>PHP-Info</label></php_info>
                </tab_container>
              </info>
              <profiler>
                <sort_order>30</sort_order>
                <icon>images/wee_developertoolbar/profiler.png</icon>
                <tab_container>
                  <profiler><label>Profiler</label></profiler>
                </tab_container>
              </profiler> 
              <time>
                <sort_order>40</sort_order>
                <icon>images/wee_developertoolbar/time.png</icon>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelTime</label>
              </time> 
              <memory>
                <sort_order>50</sort_order>
                <icon>images/wee_developertoolbar/memory.png</icon>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelMemory</label>
              </memory>
              <database>
                <sort_order>60</sort_order>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelDatabase</label>
                <icon>images/wee_developertoolbar/database.png</icon>
                <tab_container>
                  <database><label>Database Queries</label></database>
                </tab_container>
              </database>
              <monitoring>
                <sort_order>70</sort_order>
                <label>Monitoring</label>
                <icon>images/wee_developertoolbar/monitoring.png</icon>
                <tab_container>
                  <logs>
                    <label>Logs</label>
                  </logs>               
                </tab_container>                
              </monitoring>                
            </items>
        </developertoolbar>
    </default>
</config>