<?xml version="1.0"?>
<config>
    <modules>
        <Wee_DeveloperToolbar>
            <version>2.5.0</version>
        </Wee_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Block</class>
            </wee_developertoolbar>
            <wee_developertoolbar_item>
                <class>Wee_DeveloperToolbar_Block_Toolbar_Item</class>
            </wee_developertoolbar_item>
        </blocks>
        <helpers>
<!--             <wee_developertoolbar>
                <rewrite>
                    <data>Wee_DeveloperToolbar_Helper_Data</data>
                </rewrite>
            </wee_developertoolbar> -->
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Helper</class>
            </wee_developertoolbar>            
            <fpc>
                <rewrite>
                    <block>Wee_DeveloperToolbar_Helper_Lesti_Block</block>
                </rewrite>
            </fpc>
        </helpers>
        <resource>
            <connection>
                <types>
                    <pdo_mysql>
                        <adapter/>
                        <class>Wee_DeveloperToolbar_Model_Pro_Resource_Type_Db_Pdo_Mysql</class>
                    </pdo_mysql>
                </types>
            </connection>
        </resource>        
        <models>
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Model</class>
            </wee_developertoolbar>        
            <core>
                <rewrite>
                    <resource>Wee_DeveloperToolbar_Model_Resource</resource>
                    <layout>Wee_DeveloperToolbar_Model_Pro_Core_Layout</layout>
                </rewrite>
            </core>
        </models>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <wee_developertoolbar>
                        <type>singleton</type>
                        <class>Wee_DeveloperToolbar_Model_Observer</class>
                        <method>addWeeDeveloperToolbarHandle</method>
                    </wee_developertoolbar>
                </observers>
            </controller_action_layout_load_before>
            
          <!-- Trace bloc and layout -->
          <controller_action_predispatch>
            <observers>
              <wee_developertoolbar_controller_predispatch>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_predispatch</method>
              </wee_developertoolbar_controller_predispatch>
            </observers>
          </controller_action_predispatch>
          <!-- <controller_action_layout_load_before>
            <observers>
              <wee_developertoolbar_controller_layout_load_before>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_layout_load_before</method>
              </wee_developertoolbar_controller_layout_load_before>
            </observers>
          </controller_action_layout_load_before>
          <controller_action_layout_render_before>
            <observers>
              <wee_developertoolbar_controller_layout_render_before>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_layout_render_before</method>
              </wee_developertoolbar_controller_layout_render_before>
            </observers>
          </controller_action_layout_render_before>
          <controller_action_postdispatch>
            <observers>
              <wee_developertoolbar_controller_postdispatch>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_postdispatch</method>
              </wee_developertoolbar_controller_postdispatch>
            </observers>
          </controller_action_postdispatch> -->
          <adm_core_layout_block_create_before>
            <observers>
              <wee_developertoolbar_block_create_begin_timer>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_block_create_before</method>
              </wee_developertoolbar_block_create_begin_timer>
            </observers>
          </adm_core_layout_block_create_before>
          <adm_core_layout_block_create_after>
            <observers>
              <wee_developertoolbar_block_create_end_timer>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_block_create_after</method>
              </wee_developertoolbar_block_create_end_timer>
            </observers>
          </adm_core_layout_block_create_after>
          <core_block_abstract_to_html_before>
            <observers>
              <wee_developertoolbar_block_render_begin_timer>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_block_render_before</method>
              </wee_developertoolbar_block_render_begin_timer>
            </observers>
          </core_block_abstract_to_html_before>
          <core_block_abstract_to_html_after>
            <observers>
              <wee_developertoolbar_block_render_end_timer>
                <type>singleton</type>
                <class>wee_developertoolbar/pro_timer</class>
                <method>timer_block_render_after</method>
              </wee_developertoolbar_block_render_end_timer>
            </observers>
          </core_block_abstract_to_html_after>
            
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <wee_developertoolbar>
                <use>admin</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </wee_developertoolbar>
        </routers>
    </admin>    
    <frontend>
        <routers>
            <wee_developertoolbar>
                <use>standard</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </wee_developertoolbar>
        </routers>
        <events>
          <controller_front_send_response_after>
                <observers>
                    <wee_developertoolbar_send_response_after>
                        <class>Wee_DeveloperToolbar_Model_Pro_Observer</class>
                        <method>saveTrace</method>
                    </wee_developertoolbar_send_response_after>
                </observers>
          </controller_front_send_response_after>
        </events>        
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </frontend>
   <default>
        <developertoolbar>
            <items>
              <version>
                <sort_order>10</sort_order>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelVersion</label>
              </version>
              <info>
                <sort_order>20</sort_order>
                <icon>wee_developertoolbar/images/info.png</icon>
                <tab_container>
                    <request><label>Request</label></request>
                    <general><label>General</label></general>
                    <handles><label>Handles</label></handles>
                    <events><label>Events/Observer</label></events>
                    <blocks><label>Blocks</label></blocks>
                    <config><label>Config</label></config>
                    <php_info><label>PHP-Info</label></php_info>
                </tab_container>
              </info>
              <profiler>
                <sort_order>30</sort_order>
                <icon>wee_developertoolbar/images/profiler.png</icon>
                <tab_container>
                  <profiler><label>Profiler</label></profiler>
                </tab_container>
              </profiler> 
              <time>
                <sort_order>40</sort_order>
                <icon>wee_developertoolbar/images/time.png</icon>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelTime</label>
              </time> 
              <memory>
                <sort_order>50</sort_order>
                <icon>wee_developertoolbar/images/memory.png</icon>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelMemory</label>
              </memory>
              <database>
                <sort_order>60</sort_order>
                <label>Wee_DeveloperToolbar_Helper_Data::getLabelDatabase</label>
                <icon>wee_developertoolbar/images/database.png</icon>
                <tab_container>
                  <database><label>Database Queries</label></database>
                </tab_container>
              </database>
              <monitoring>
                <sort_order>70</sort_order>
                <label>Monitoring</label>
                <icon>wee_developertoolbar/images/monitoring.png</icon>
                <tab_container>
                  <logs>
                    <label>Logs</label>
                  </logs>               
                </tab_container>                
              </monitoring>     
              <trace>
                <sort_order>65</sort_order>
                <label>Wee_Developertoolbar_Helper_Pro_Analyzer::getLabelTrace</label>
                <icon>wee_developertoolbar/images/pro/stack.png</icon>
                <tab_container>
                  <list>
                    <label>All suspected calls</label>
                    <class_tab>Wee_DeveloperToolbar_Block_Pro_Tab_List</class_tab>
                  </list>
                  <statistics>
                    <label>Statistics</label>
                    <class_tab>Wee_DeveloperToolbar_Block_Pro_Tab_Statistics</class_tab>
                  </statistics>                  
                </tab_container>                
              </trace>       
              <timers>
                <sort_order>67</sort_order>
                <label>Timers</label>
                <tab_container>
                  <list>
                    <label>All Timers</label>
                    <class_tab>Wee_DeveloperToolbar_Block_Pro_Tab_Timers</class_tab>
                  </list>              
                </tab_container>                
              </timers>                       
            </items>
        </developertoolbar>
        <dev>
          <restrict>
            <toolbar_header_exclude><![CDATA[Jmeter|Gatling]]></toolbar_header_exclude>
          </restrict>
        </dev>
    </default>
</config>